@charset "utf-8";

header{
  padding: 20px 5px;
  border-radius: 10px ;
}
/*inicio nav*/
.botonera a{
  padding: 10px 30px;
  color: #283542;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  font-family: sans-serif;
  text-decoration: none;
}
.botonera ul li:hover {
  text-decoration: 2px underline #e66e1e;
  text-underline-offset: 10px; /*espaciado entre linea y texto*/
}
.botonera {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contacto{
  align-items: center;
  padding: 15px;
  background-color: #e66e1e;
  border-radius: 20px;
}
nav ul li {
  display: inline;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}
/*fin de nav*/
main, p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.2em;
  color: #283747;
}
.foto{
  border-radius: 20px;
  margin: 0px 0px 0px 145px;
}

#sobremi{ 
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 30px 0px 0px 0px;
  justify-content: center;
}
#sobremi h2{
  text-orientation:sideways;
  justify-content: center;
  padding: 0px 22px;
  writing-mode:vertical-lr;
  transform: rotate(180deg);
}
.yop{
  width: 49%;
  border-radius: 30px;
  margin: 20px 25px;
  padding: 8px 25px
}
h1{
  font-family: "Knewave";
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  color: #283542;
  align-items: center;
}
.subrayado{
  width: 600px;
  height: 60px;
  margin-left: 30px;
  border-bottom: 3px solid #e66e1e;
}
h3{
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-size: 2em;
  font-weight: 600;
  font-style: normal;
  color: #283542
}
/*hoover proyectos*/
.card {
  position: relative;
  width: 450px;
  height: 420px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;  
  background-color: lightgray 50% / cover no-repeat, lightgray 0px -1.846px / 100% 100.879% no-repeat;
  box-shadow: -8px 8px 21.6px -2px rgba(229, 105, 38, 0.767);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card img {
  width: 450px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card:hover img{
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgb(255, 115, 0);
  opacity: 70%;
}
.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  transform: rotateX(-90deg);
  transform-origin: bottom;
}
.card:hover .card__content {
  transform: rotateX(0deg);
}
.card__title {
  display: flex;
  justify-content: center;
  margin: 170px 0px;
  font-size: 1.5em;
  color: #283542;
  font-weight: 700;
  align-content: center;
}
.contenedorcard{
  display: flex;
  justify-content: space-evenly;
  margin: 70px;
}
.card a{
  text-decoration: none;
}
/*fin de hoover proyectos*/









































.expe{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 30px 0px 0px 0px;
  background-color: #283747;
}
.expe ul li{
  list-style-type:none
}
.Wonder {
  background-color: #ffc686;
  display: inline-flex;
  flex-direction: column;
  width: 35%;
  color: #283542;
  border-radius: 40px;
  border: 4px solid #283747;
  margin: 20px 25px;
  padding: 8px 5px;
  align-items: center;
}
.Wonder img{
  filter: invert(15%) sepia(19%) saturate(1113%) hue-rotate(168deg) brightness(93%) contrast(83%);
  padding: 10px;
}
.Clipix {
  background-color: #ffc686;
  display: inline-flex;
  flex-direction: column;
  width: 35%;
  color: #283542;
  border-radius: 40px;
  border: 4px solid #283747;
  margin: 20px 25px;
  padding: 8px 5px;
  align-items: center;
  justify-content: center;
}
.Clipix img{
  filter: invert(15%) sepia(19%) saturate(1113%) hue-rotate(168deg) brightness(93%) contrast(83%);
  padding: 10px;
}
.educacion{
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 30px 0px 0px 0px;
}
.Dyc{
  background-color: #ffc686;
  display: inline-flex;
  flex-direction: column;
  width: 40%;
  color: #283542;
  border-radius: 40px;
  border: 4px solid #283747;
  margin: 20px 25px;
  padding: 8px 5px;
  align-items: center;
}
.secu{
  background-color: #ffc686;
  display: inline-flex;
  flex-direction: column;
  width: 40%;
  color: #283542;
  border-radius: 40px;
  border: 4px solid #283747;
  margin: 20px 25px;
  padding: 8px 5px;
  align-items: center;
}
.tecnico{
  background-color: #ffc686;
  display: inline-flex;
  flex-direction: column;
  width: 40%;
  color: #283542;
  border-radius: 40px;
  border: 4px solid #283747;
  margin: 20px 25px;
  padding: 8px 5px;
  align-items: center;
}
.conocimientos{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 30px 0px 40px 0px;
  background-color: #283747;
}
.office {
  background-color: #ffc686;
  display: inline-flex;
  flex-direction: column;
  width: 25%;
  color: #283542;
  border-radius: 40px;
  border: 4px solid #283747;
  margin: 20px 25px;
  padding: 8px 5px;
  align-items: center;
}
.office img{
  filter: invert(15%) sepia(19%) saturate(1113%) hue-rotate(168deg) brightness(93%) contrast(83%);
  padding: 10px;
}
.idioma {
  background-color: #ffc686;
  display: inline-flex;
  flex-direction: column;
  width: 25%;
  color: #283542;
  border-radius: 40px;
  border: 4px solid #283747;
  margin: 20px 25px;
  padding: 8px 5px;
  align-items: center;
}
.idioma img{
  filter: invert(15%) sepia(19%) saturate(1113%) hue-rotate(168deg) brightness(93%) contrast(83%);
  padding: 10px;
}
.libro{
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  align-items:center;
}
.destilar {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  align-items:center;
}
.proy1 {
  display: flex;
    justify-content: space-evenly;
    margin: 50px 200px;
}
.proy1 img{
  border-radius: 15px;
  background-color: lightgray 50% / cover no-repeat, lightgray 0px -1.846px / 100% 100.879% no-repeat;
  box-shadow: -8px 8px 21.6px -2px rgba(229, 106, 38, 0.54);
}
footer{
  display: flex;
  align-items: center;
  flex-direction: column
}
.logoscontacto{
  padding: 0px 15px;
  filter: invert(15%) sepia(19%) saturate(1113%) hue-rotate(168deg) brightness(93%) contrast(83%);
}
/*INICIO de FORMULARIO*/
.formulario {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 180px;
}
.formcampo{
  font-family: "rubik";
  width: 100%;
  border: none;
  border-bottom: 2px solid #e66e1e;
  outline: 0;
  font-size: 0.5em;
  color: #000000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.formcampo::placeholder {
  color: transparent;
}
.formcampo:placeholder-shown ~ .formlabel {
  font-size: 17px;
  cursor: text;
  top: 20px;
}
.formlabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}
.formcampo:focus {
  padding-bottom: 6px;
  font-weight: 400;
  border-width: 3px;
  border-image: linear-gradient(to right, #e66e1e,#ffc686);
  border-image-slice: 1;
}
.formcampo:focus ~ .formlabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #ffc686;
  font-weight: 700;
}
/* reset input */
.formcampo:required, .formcampo:invalid {
  box-shadow: none;
}
.contenedor{
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 40px 10px;
}
/*boton enviar*/
button {
  font-size: 18px;
  color: #e66e1e;
  font-family: "Gabarito";
  font-weight: 650;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
button:focus,
button:hover {
  color:#ffc686; 
}
button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}
button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #e66e1e;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.botonenviar {
  display: flex;
  justify-content: center;
}
.fondoform{
  border-radius: 50px;
  background-color: #283542;
  padding: 30px;
  margin: 0px 600px;
}
/*FIN de FORMULARIO*/