@charset "utf-8";

body {
  background: linear-gradient(347deg, rgba(247,208,136,1) 0%, rgba(254,164,1,0.47942927170868344) 10%, rgba(254,164,1,0.4318102240896359) 19%, rgba(254,164,1,0.4009978991596639) 25%, rgba(254,164,1,0) 48%, rgba(254,164,1,0.0844712885154062) 73%, rgba(254,164,1,0.29175420168067223) 90%, rgba(254,164,1,0.14329481792717091) 100%);
  min-height: 100vh;
}
header{
  padding: 20px 5px;
  border-radius: 10px ;
}
/*inicio nav*/
.botonera a{
  padding: 10px 30px;
  color: #283542;
  border-radius: 30px;
  cursor: pointer;
  font-family: sans-serif;
  text-decoration: none;
  font-family: "Gabarito", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}
.sobre:hover {
  text-decoration: 2px underline #e66e1e;
  text-underline-offset: 10px; /*espaciado entre linea y texto*/
}
.botonera {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contacto a{
  color: #283542;
  align-items: center;
  padding: 10px 20px;
  background-color:#fe9001 ;
  border-radius: 20px;
  text-decoration: none;
}
.contacto a:hover {
  color: #ffffff;
  align-items: center;
  padding: 10px 20px;
  background-color: #283542;
  border-radius: 20px;
  text-decoration: none;
}
nav ul li {
  display: inline;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}
h1{
  font-family: "M plus code latin";
  font-weight: 400;
  font-style: normal;
  font-size: 0.8em;
  color: #283542;
  align-items: center;
}

/*fin de nav*/
/*footer*/
footer{
  display: flex;
  width: 100%;
  background-color: #fe900128;
  justify-content: space-around;
  margin-top: 10px;
  align-items: center;
  box-sizing: border-box;
}
footer h3{
  font-family: "Gabarito", sans-serif;
  font-size: 1.5em;
  color: #283542;
  align-content: center;
  margin: 10px;
}
.portfolio{
  display:flex;
  flex-direction: column;
}
.portfolio ul{
  font-family: "Rubik", sans-serif;
  color: #283542;
  display: flex;
  font-size: 0.8em;
  gap: 20px;
  align-items: center;
  padding: 0px;
  list-style: none;
  padding: 5px 0px 0px 0px;
}
.redes h4{
  font-family: "Gabarito", sans-serif;
  font-size: 1.3em;
  color: #283542;
  padding: 0px 0px 0px 20px;
}
.redes ul{
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 0px;
  list-style: none;
}
.fix{
  position: fixed;
  bottom: 0px;
}
/*fin de footer*/
main{
  height: auto;
}
main, p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.1em;
  line-height: 1.7em;
  color: #283747;
}
.foto{
  border-radius: 20px;
  margin: 0px 0px 0px 145px;
}

#sobremi{ 
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 30px 0px 0px 0px;
  justify-content: center;
}
#sobremi h2{
  text-orientation:sideways;
  justify-content: center;
  padding: 0px 22px;
  writing-mode:vertical-lr;
  transform: rotate(180deg);
}
.yop{
  width: 49%;
  border-radius: 30px;
  margin: 20px 25px;
  padding: 8px 25px
}

.subrayado{
  width: 600px;
  height: 60px;
  margin-left: 30px;
  border-bottom: 3px solid #e66e1e;
}
h3{
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-size: 2em;
  font-weight: 600;
  font-style: normal;
  color: #283542
}
h2{
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-size: 3em;
    font-weight: 600;
    font-style: normal;
    color: #283542
  }
/*hoover proyectos*/
.card {
  position: relative;
  width: 450px;
  height: 420px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;  
  background-color: lightgray 50% / cover no-repeat, lightgray 0px -1.846px / 100% 100.879% no-repeat;
  box-shadow: -8px 8px 21.6px -2px rgba(229, 105, 38, 0.767);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card img {
  width: 450px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card:hover img{
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgb(255, 115, 0);
  opacity: 70%;
}
.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  transform: rotateX(-90deg);
  transform-origin: bottom;
}
.card:hover .card__content {
  transform: rotateX(0deg);
}
.card__title {
  display: flex;
  justify-content: center;
  margin: 170px 0px;
  font-size: 1.5em;
  color: #283542;
  font-weight: 700;
  align-content: center;
}
.contenedorcard{
  display: flex;
  justify-content: space-evenly;
  margin: 70px;
}
.card a{
  text-decoration: none;
}
/*fin de hoover proyectos*/
/*img proyectos index*/
.libro{
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  align-items:center;
}
.destilar {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  align-items:center;
}
.proy1 {
  display: flex;
    justify-content: space-evenly;
    margin: 50px 200px;
}
.proy1 img{
  border-radius: 15px;
  background-color: lightgray 50% / cover no-repeat, lightgray 0px -1.846px / 100% 100.879% no-repeat;
  box-shadow: -8px 8px 21.6px -2px rgba(229, 106, 38, 0.54);
}
.logoscontacto{
  padding: 0px 15px;
  filter: invert(15%) sepia(19%) saturate(1113%) hue-rotate(168deg) brightness(93%) contrast(83%);
}
/*fin proy index*/
/*INICIO de FORMULARIO*/
.formulario {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 180px;
}
.formcampo{
  font-family: "rubik";
  width: 100%;
  border: none;
  border-bottom: 2px solid #e66e1e;
  outline: 0;
  font-size: 0.5em;
  color: #000000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.formcampo::placeholder {
  color: transparent;
}
.formcampo:placeholder-shown ~ .formlabel {
  font-size: 17px;
  cursor: text;
  top: 20px;
}
.formlabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}
.formcampo:focus {
  padding-bottom: 6px;
  font-weight: 400;
  border-width: 3px;
  border-image: linear-gradient(to right, #e66e1e,#ffc686);
  border-image-slice: 1;
}
.formcampo:focus ~ .formlabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #ffc686;
  font-weight: 700;
}
/* reset input */
.formcampo:required, .formcampo:invalid {
  box-shadow: none;
}
.contenedor{
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 40px 10px;
}
/*boton enviar*/
button {
  font-size: 18px;
  color: #e66e1e;
  font-family: "Gabarito";
  font-weight: 650;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
button:focus,
button:hover {
  color:#ffc686; 
}
button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}
button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #e66e1e;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.botonenviar {
  display: flex;
  justify-content: center;
}
.fondoform{
  border-radius: 50px;
  background-color: #283542;
  padding: 30px;
  margin: 0px 600px;
}
/*FIN de FORMULARIO*/
/*GALERIA DESTILAR*/
.galeria{
  display: flex;
  width: 1359px;
  height: 1342px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}
.galeria img{
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
/*proyectos*/
.textoproyecto{
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.proyecto{
  display: flex;
  justify-content: center;
}